body{
    margin: 0;
    background-color: #999999;
    height: 100%;
    overflow: auto;

}
.ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
}
#app-header{
    position: fixed;
    z-index: 50;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 10%;

    background-color: #272727;
}
#app-header img{
    margin-left: 2.5vw;
    width: 3%;
}
#app-header-options-container{
    justify-self: end;
    align-self: center;

    display: grid;
    grid-template-columns: 70% auto;
    margin-right: 1vw;
    padding: 1vw;
}
#app-header-options-container p{
    color: #999999;
    /* padding: .5vw; */
    justify-self: right;
    align-self: center;
    font-size: 1.5em;
    margin: 0;
}
#app-header-options-container img{
    width: 30%;
    margin: 0;
    padding: 1vw;
    justify-self: right;
    align-self: center;
}
#app-header-options-container img:hover{
    cursor: pointer;
}
#app-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    /* background-color: #272727; */
    
    display: grid;
    grid-template-rows: 10% auto;
}
#tabs-container{
    display: inline-grid;
    align-self: end;
    align-content: center;
    /* justify-content: space-between; */
    grid-template-columns: repeat(10, auto);
}
.workspace-tabs{
    font-size: 1.5em;
    padding: 1vw;
    color: #272727;
    min-width: fit-content;
    background-color: #cbef43;
    border-top-left-radius: .5em;
    text-decoration: none;

    clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);

}
.workspace-tabs:hover:not(.active-tab){
    cursor: pointer;
    color: #e41c34;
}
.active-tab{
    background-color: #272727;
    color: #999999;
}
#plus-tab{
    width: fit-content;
    clip-path: none;
    border-top-right-radius: .5em;
}
.plus-tab-clicked{
    background-color: #e41c34;
    color: #272727 !important;
}
#workspace-icons-container{
    background-color: #272727;
    width: 100%;
    height: 100%;
    padding-top: 2%;

    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    align-content: space-around;
}
.workspace-icon{
    background-color: #fdf0d5;
    width: 80%;
    height: 100%;
    margin: 7%;
    padding: 5%;
    border-radius: 1em;

    /* box-shadow: inset -20px -15px 2vw .3vw #cbef43; */
    color: #272727;
    font-size: 2em;
    text-decoration: none;

    display: inline-grid;

}
.workspace-icon-image{
    width: 15%;
}
.workspace-icon:hover{
    cursor: pointer;
    width: 81%;
}
#no-workspaces{
    color: #999999;
    font-size: 2em;
    margin-left: 2em;
}

/* individual workspace */
.workspace-container{
    /* position: relative; */
    background-color: #272727;
    max-width: 100%;
    max-height: 100%;
    padding: 1em;
}
.workspace-border-container{
    width: 100%;
    height: 100%;
}
.workspace{
    background-color: #999999;
    width: 97%;
    height: 95%;
    border: double 2em #272727;
    /* padding: 2em; */

    display: inline-grid;
    grid-auto-rows: repeat(6, auto);
    grid-template-columns: repeat(6, auto);
    /* justify-content: space-between;
    align-content: space-evenly; */
    grid-auto-flow: dense;
}
.workspace img{
    width: 50%;
    margin: 2em;
}
.workspace img:hover{
    border: solid #8685ef;
    border-radius: 1em;
    cursor: pointer;
    transform: skew(-3deg);
}
.workspace textarea{
    resize: none;
    margin: 2em;
    padding: 1em;
    width: auto;
    min-height: 50%;
    height: fit-content;

    border: none;
    border-radius: 1em;

    background-color: #fdf0d5;
    font-size: 1.5em;
    color: #0b032d;

    /* note lines I will figure out later */
    /* background-image: url("images/blue-line.svg"); 
    background-size: 100vw 1.5em;
    background-repeat: repeat-y;
    background-position: 0 0, 1.5em 0;
    font-size: 200%/1.5;
    line-height: 1.5;
    margin-left: 120px; margin-right: 100px; */
    
}
.workspace textarea:focus{
    outline-color: #8685ef;
}

.element-button{
    font-size: 4em;
    background-color: #cbef43;
    color: #8685ef;
    padding: 1% 2% 1% 2%;
    border-radius: .5em;
}
.element-button:hover{
    cursor: pointer;
    color: #e41c34;
}
#delete-element{
    position: absolute;
    bottom: 40;
    right: 180;
    padding: 1% 2.5% 1% 2.5%;
}
#open-add-element{
    position: absolute;
    bottom: 40;
    right: 60;
}


/* adding new element container/form */
#new-element-container{
    position: absolute;
    display: none;
    z-index: 10;
    width: 40%;
    height: fit-content;
    padding: 3%;
    background-color: #cbef43;
    border-radius: 1vw;
    font-size: 1vw;

    margin: 5% auto auto auto; 
    margin-top: 0;
    left: 0;
    right: 0;
    padding: 2%;
}
#new-element-form{
    display: grid;
}
#new-element-form h2{
    color: #272727;
    margin: 1%;
}
#new-element-form div{
    display: none;
    align-self: center;
    justify-self: center;
}
#new-element-form input[type=text]{
    border: none;
    border-radius: .5vw;

    background-color: #fdf0d5;
    padding: 1vw;
    margin-bottom: 2%;

}
#new-element-form input[type=submit], #file-upload-label, #close-new-element{
    border: none;
    border-radius: 1vw;
    background-color: #e41c34;
    color: #fdf0d5;
    font-size: 1vw;
    padding: 3%;
    margin: 2%;
}
#new-element-form input[type=submit]:hover, #file-upload-label:hover, #close-new-element:hover{
    cursor: pointer;
    color: #cbef43;
}
/* file input is hidden so I can style the label */
#new-element-form input[type=file]{
    display: none;
}
#img-to-upload{
    color: #8685ef;
}

/* sidebar menu */
#sidebar{
    position: fixed;
    right: -8%;
    top: 300;
    z-index: 10;

    height: 50%;
    width: 10vw;

    background-color: #cbef43;

    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    align-items: center;
    justify-items: center;

    transition: .5s ease-in;
}
#sidebar:hover, .sidebar-hover{
    transform: translateX(-80%);
}
#sidebar img{
    width: 50%;
    height: auto;
}
#sidebar img:hover{
    cursor: pointer;
}
#color{
    padding: 2em;

    border-radius: 1em;
    border: solid black 4px;
}
#color:hover{
    cursor: pointer;
}

/* Edit workspace name elements */
#edit-name{
    position: fixed;
    display: none;
    transition: .5s ease-in-out;

    background-color: #272727;
    width: 100%;
    margin: 5% auto; 
    left: 0;
    right: 0;

    font-size: 1vw;
}
#edit-name label{
    color: #999999;
    margin-bottom: 3%;
}
#edit-name-form{
    padding: 3%;
}
#workspace-name-input{
    border: none;
    border-radius: .5vw;
    background-color: #fdf0d5;
    width: 80%;
}
.workspace-input-submit{
    border: none;
    border-radius: 1vw;
    background-color: #cbef43;
    color: #e41c34;
}
.workspace-input-submit:hover{
    cursor: pointer;
}

/* adding new workspace */
#add-new-workspace-container{
    position: fixed;
    display: none;

    background-color: #cbef43;
    border-radius: 1vw;
    width: 55%;
    height: 15%;

    margin: 5% auto auto auto; 
    left: 0;
    right: 0;
    padding: 2%;
}
#new-workspace-form input[type=text]{
    border: none;
    border-radius: .5vw;
    background-color: #fdf0d5;

    margin: 1%;
    padding: 1vw;
    font-size: 1vw;
}
#new-workspace-form input[type=submit], #new-workspace-form button{
    border: none;
    border-radius: 1vw;
    background-color: #e41c34;
    color: #cbef43;

    margin: 1%;
    padding: 1vw;
    font-size: 1vw;
}
#new-workspace-form input[type=submit]:hover, #new-workspace-form button:hover{
    cursor: pointer;
    background-color: #272727;
}

#user-options{
    position: fixed;
    display: grid;
    visibility: hidden;
    right: .7%;
    top: 9%;

    width: 10%;
    height: 20%;

    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2%;
    padding: .5%;

    background-color: #272727;
}
#user-options:before {
    content: "";
    position: absolute;
    top: -15%;                        
    right: 23%;
    border: solid 15px transparent;
    border-right-color: #999999;

    transform: rotate(90deg);
}
#user-options div, #user-options a{
    color: #272727;
    font-size: 1.2em;
    background-color: #999999;
    text-align: center;
    padding: 5%;
}
#user-options div:hover, #user-options a:hover{
    cursor: pointer;
    color: #e41c34;
}